.layout {
  height: 100%;
  .header {
    display: flex;
    align-items: center;
    .logo {
      width: 120px;
      min-width: 120px;
      height: 32px;
      border-radius: 6px;
      margin-inline-end: 24px;
    }
    .menu {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      min-width: 0;
    }
  }

  .content {
    padding: 24px 48px;
    height: 100%;
  }
}
